doctype html

head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Shards Dashboard Lite - Free Bootstrap Admin Template &ndash; DesignRevision
    meta(name='description' content='A high-quality & free Bootstrap admin dashboard template pack that comes with lots of templates and components.')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    link#main-stylesheet(rel='stylesheet' data-version='1.1.0' href='styles/shards-dashboards.1.1.0.min.css')
    link(rel='stylesheet' href='styles/extras.1.1.0.min.css')
    link(rel='stylesheet' href='styles/Modal.css')
    script(async='' defer='' src='https://buttons.github.io/buttons.js')
    link(href='/dist/css/datepicker.min.css', rel='stylesheet')

    mixin rowsTable(id, name, numb, sum)
        tr
            td #{id}
            td #{name}
            td #{numb}
            td #{sum}


.container-fluid
    #myModal.modal.fade(role='dialog')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h4.modal-title Добавление клиента
                    //.col-12.col-sm-4.text-center.text-sm-left.mb-0
                        .form-group
                            .custom-control.custom-toggle.custom-toggle-sm.mb-1
                                input#showClient.custom-control-input(type='checkbox' name='customToggle1')
                                label.custom-control-label(for='showClient') Юридическое лицо
                    button.close(type='button', data-dismiss='modal') ×

                .modal-body
                    .col-12.col-sm-4.text-center.text-sm-left.mb-0
                        .form-group
                            .custom-control.custom-toggle.custom-toggle-sm.mb-1
                                input#showClient.custom-control-input(type='checkbox' name='customToggle1')
                                label.custom-control-label(for='showClient') Юридическое лицо
                    //div
                        form(action="/addSklad", method="post" class="form" id='addSklad' enctype="application/json")
                            div
                                input(type="text" name="name" placeholder="Название" class="form__input" required)
                                br
                                select( name='type' required=true)
                                    option(value=''   hidden ) Выберите тип
                                br
                                input(type="text" name='col' placeholder="Количество" class="form__input" required)
                                br
                                input(type="text" name='price' placeholder="Цена" class="form__input" required)


                            div
                                input.btn.btn-default(type="submit" href="/sklad" class="uk-button uk-button-primary top-margin" value="Отправить")
                    .row
                        #client.col-lg-12.mb-4
                            .card.card-small.mb-4
                                .card-header.border-bottom
                                    h6.m-0 Добавление физического клиента
                                ul.list-group.list-group-flush
                                    form(action="/addClient?SLID="+serviceList.dataValues.id, method="post" class="form" id='addClient' enctype="application/json")
                                        li.list-group-item.p-3
                                            .row
                                                .col-sm-12
                                                    strong.text-muted.d-block.mb-2
                                                        .row
                                                            .col-sm-12.col-md-4
                                                                strong.text-muted.d-block.mb-2 Имя
                                                                    .form-group
                                                                        input.form-control(type='text' name="inputName")
                                                            .col-sm-12.col-md-4
                                                                strong.text-muted.d-block.mb-2 Фамилия
                                                                    .form-group
                                                                        input.form-control(type='text' name="inputSecondName")
                                                            .col-sm-12.col-md-4
                                                                strong.text-muted.d-block.mb-2 Отчество
                                                                    .form-group
                                                                        input.form-control(type='text' name="inputPatronymic")
                                                .col-sm-12
                                                    strong.text-muted.d-block.mb-2 DLN номер
                                                        .form-group
                                                            input.form-control(type='text' name="inputDLN")
                                                .col-sm-12
                                                    strong.text-muted.d-block.mb-2 Номер телефона
                                                        .form-group
                                                            input.form-control(type='text' name="inputPhoneNumber")
                                                .col-sm-12

                                                    strong.text-muted.d-block.mb-2 Дата рождения
                                                        .form-group
                                                            //input.form-control(type='text' name="inputBD")
                                                            input.form-control.datepicker-here(name="inputBD" type="text" )
                                                .col-sm-12
                                                    strong.text-muted.d-block.mb-2 Адресс
                                                        .form-group
                                                            input.form-control(type='text' name="inputAdress")
                                                .col-lg-12.mb-4
                                                    .row
                                                        .col
                                                            a.nav-link(href='addServiceList')
                                                                button.btn.btn-primary.btn-lg.btn-block(type="submit") Добавить
                        #URclient.col-lg-12.mb-4
                            .card.card-small.mb-4
                                .card-header.border-bottom
                                    h6.m-0 Добавление юридического клиента
                                ul.list-group.list-group-flush
                                    form(action="/addUrClient?SLID="+serviceList.dataValues.id, method="post" class="form" id='addUrClient' enctype="application/json")
                                        li.list-group-item.p-3
                                            .row
                                                .col-sm-12
                                                    strong.text-muted.d-block.mb-2 Название
                                                        .form-group
                                                            input.form-control(type='text' name="inputName")
                                                .col-sm-12
                                                    strong.text-muted.d-block.mb-2 ИНН
                                                        .form-group
                                                            input.form-control(type='text' name="inputINN")
                                                .col-sm-12
                                                    strong.text-muted.d-block.mb-2 Номер телефона
                                                        .form-group
                                                            input.form-control(type='text' name="inputPhoneNumber")

                                                .col-sm-12
                                                    strong.text-muted.d-block.mb-2 Адресс
                                                        .form-group
                                                            input.form-control(type='text' name="inputAdress")
                                                .col-lg-12.mb-4
                                                    .row
                                                        .col
                                                            a.nav-link(href='addServiceList')
                                                                button.btn.btn-primary.btn-lg.btn-block(type="submit") Добавить
                                                        //.modal-footer
                                        //button.btn.btn-default(type='button', data-dismiss='modal') Close

    #myModal2.modal.fade(role='dialog')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h4.modal-title Добавление автомобиля
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    //div
                        form(action="/addSklad", method="post" class="form" id='addSklad' enctype="application/json")
                            div
                                input(type="text" name="name" placeholder="Название" class="form__input" required)
                                br
                                select( name='type' required=true)
                                    option(value=''   hidden ) Выберите тип
                                br
                                input(type="text" name='col' placeholder="Количество" class="form__input" required)
                                br
                                input(type="text" name='price' placeholder="Цена" class="form__input" required)


                            div
                                input.btn.btn-default(type="submit" href="/sklad" class="uk-button uk-button-primary top-margin" value="Отправить")
                    ul.list-group.list-group-flush
                        form(action="/addCars?SLID="+serviceList.dataValues.id, method="post" class="form" id='addCar' enctype="application/json")
                            li.list-group-item.p-3
                                .row
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Бренд
                                            .form-group
                                                input#ajax1.form-control(type='text' list='json-datalist1' placeholder='e.g. datalist' name='inputBrand')
                                                datalist#json-datalist1
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Модель
                                            .form-group
                                                input#ajax2.form-control(type='text' list='json-datalist2' placeholder='e.g. datalist' onclick='getModels()' name = 'inputModel')
                                                datalist#json-datalist2
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 VIN номер
                                            .form-group
                                                input.form-control(type='text' name="inputVIN")
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Владелец
                                            .row
                                                .col-sm-12.col-md-3
                                                    .form-group
                                                        .custom-control.custom-toggle.custom-toggle-sm.mb-1
                                                            input#customToggle12.custom-control-input(type='checkbox' name='customToggle12')
                                                            label.custom-control-label(for='customToggle12') Юридическое лицо
                                                .col-sm-12.col-md-9
                                                    .form-group
                                                        input#cl.form-control(type='text' name="inputClient" )
                                                        input#ur.form-control(type='text' name="inputUrClient" )
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Год производства
                                            .form-group
                                                input.form-control(type='text' name="inputYear" )
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Гос номер
                                            .form-group
                                                input.form-control(type='text' name="inputGosNumber" )
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Номер двигателя
                                            .form-group
                                                input.form-control(type='text' name="inputEngineNumber" )
                                    .col-lg-12.mb-4
                                        .row
                                            .col
                                                a.nav-link(href='addServiceList')
                                                    button.btn.btn-primary.btn-lg.btn-block(type="submit") Добавить
                                    //.modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal') Close

    #myModal3.modal.fade(role='dialog')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h4.modal-title Добавление услуг
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    ul.list-group.list-group-flush
                        form(action="/addServiceSL?SLID=" + serviceList.dataValues.id, method="post" class="form" id='addSe' enctype="application/json")
                            li.list-group-item.p-3
                                .row
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Тип услуги
                                            .form-group
                                                input.form-control(type='text' name="inputType")
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Услуга
                                            .form-group
                                                input.form-control(type='text' name="inputServis")
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Количество
                                            .form-group
                                                input.form-control(type='text' name="inputNumb")
                                    .col-lg-12.mb-4
                                        .row
                                            .col
                                                a.nav-link(href='addServiceList')
                                                    button.btn.btn-primary.btn-lg.btn-block(type="submit") Добавить
                                    //.modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal') Close

    #myModal4.modal.fade(role='dialog')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h4.modal-title Добавление поломок
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    ul.list-group.list-group-flush
                        form(action="/addBreakdownsSL?SLID=" + serviceList.dataValues.id, method="post" class="form" id='addBr' enctype="application/json")
                            li.list-group-item.p-3
                                .row
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Тип поломки
                                            .form-group
                                                input.form-control(type='text' name="inputType")
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 поломка
                                            .form-group
                                                input.form-control(type='text' name="inputBreakdowns")
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Количество
                                            .form-group
                                                input.form-control(type='text' name="inputNumb")
                                    .col-lg-12.mb-4
                                        .row
                                            .col
                                                a.nav-link(href='addServiceList')
                                                    button.btn.btn-primary.btn-lg.btn-block(type="submit") Добавить
                                    //.modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal') Close


    #myModal5.modal.fade(role='dialog')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h4.modal-title Добавление запчасти
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    ul.list-group.list-group-flush
                        form(action="/addDetailSL?SLID=" + serviceList.dataValues.id, method="post" class="form" id='addDe' enctype="application/json")
                            li.list-group-item.p-3
                                .row
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Детали
                                            .form-group
                                                input.form-control(type='text' name="inputDetail")
                                    .col-sm-12
                                        strong.text-muted.d-block.mb-2 Количество
                                            .form-group
                                                input.form-control(type='text' name="inputNum")
                                    .col-lg-12.mb-4
                                        .row
                                            .col
                                                a.nav-link(href='addServiceList')
                                                    button.btn.btn-primary.btn-lg.btn-block(type="submit") Добавить
                                    //.modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal') Close

    .row
    // Main Sidebar
    aside.main-sidebar.col-12.col-md-3.col-lg-2.px-0
        .main-navbar
            nav.navbar.align-items-stretch.navbar-light.bg-white.flex-md-nowrap.border-bottom.p-0
                a.navbar-brand.w-100.mr-0(href='#' style='line-height: 25px;')
                    .d-table.m-auto
                        img#main-logo.d-inline-block.align-top.mr-1(style='max-width: 25px;' src='images/shards-dashboards-logo.svg' alt='Shards Dashboard')
                        span.d-none.d-md-inline.ml-1 АРМ Администратор
                a.toggle-sidebar.d-sm-inline.d-md-none.d-lg-none
                    i.material-icons &#xE5C4;
        form.main-sidebar__search.w-100.border-right.d-sm-flex.d-md-none.d-lg-none(action='#')
            .input-group.input-group-seamless.ml-3
                .input-group-prepend
                    .input-group-text
                        i.fas.fa-search
                input.navbar-search.form-control(type='text' placeholder='Search for something...' aria-label='Поиск')
        .nav-wrapper
            ul.nav.flex-column
                li.nav-item
                    a.nav-link.dropdown-toggle(href='index')
                        i.material-icons edit
                        span Главная
                li.nav-item
                    a.nav-link.active(href='servicelist'  data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        i.material-icons vertical_split
                            span Заказ-наряд
                        .dropdown-menu(aria-labelledby='dropdownMenuLink')
                            a.dropdown-item(href='servicelist') Посмотреть
                            a.active.dropdown-item(href='addservicelist?ID=') Создать
                            a.dropdown-item(href='#') Что-то еще

                li.nav-item
                    a.nav-link.dropdown-toggle(href='servicelist'  data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        i.material-icons note_add
                            span Справочники
                        .dropdown-menu(aria-labelledby='dropdownMenuLink')
                            a.dropdown-item(href='client') Физические клиенты
                            a.dropdown-item(href='urclient') Юридические клиенты
                            a.dropdown-item(href='car') Автомобили
                            a.dropdown-item(href='breakdown') Поломки
                            a.dropdown-item(href='service') Услуги
                            a.dropdown-item(href='detail') Запчасти
                li.nav-item
                    a.nav-link(href='forms')
                        i.material-icons view_module
                        span Формы
                li.nav-item
                    a.nav-link(href='about')
                        i.material-icons table_chart
                        span О сайте
                //li.nav-item
                //  a.nav-link(href='user-profile-lite.html')
                //    i.material-icons person
                //    span User Profile
                //li.nav-item
                //  a.nav-link(href='errors.html')
                //    i.material-icons error
                //    span Errors
    // End Main Sidebar
    main.main-content.col-lg-10.col-md-9.col-sm-12.p-0.offset-lg-2.offset-md-3
            .main-navbar.sticky-top.bg-white
                // Main Navbar
                nav.navbar.align-items-stretch.navbar-light.flex-md-nowrap.p-0
                    form.main-navbar__search.w-100.d-none.d-md-flex.d-lg-flex(action='#')
                        //.input-group.input-group-seamless.ml-3
                            .input-group-prepend
                                .input-group-text
                                    i.fas.fa-search
                            input.navbar-search.form-control(type='text' placeholder='Search for something...' aria-label='Search')
                    ul.navbar-nav.border-left.flex-row
                        li.nav-item.border-right.dropdown.notifications
                            a#dropdownMenuLink.nav-link.nav-link-icon.text-center(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                .nav-link-icon__wrapper
                                    i.material-icons &#xE7F4;
                                    span.badge.badge-pill.badge-danger 2
                            .dropdown-menu.dropdown-menu-small(aria-labelledby='dropdownMenuLink')
                                a.dropdown-item(href='#')
                                    .notification__icon-wrapper
                                        .notification__icon
                                            i.material-icons &#xE6E1;
                                    .notification__content
                                        span.notification__category Analytics
                                        p
                                            | Your website&rsquo;s active users count increased by
                                            span.text-success.text-semibold 28%
                                            |  in the last week. Great job!
                                a.dropdown-item(href='#')
                                    .notification__icon-wrapper
                                        .notification__icon
                                            i.material-icons &#xE8D1;
                                    .notification__content
                                        span.notification__category Sales
                                        p
                                            | Last week your store&rsquo;s sales count decreased by
                                            span.text-danger.text-semibold 5.52%
                                            | . It could have been worse!
                                a.dropdown-item.notification__all.text-center(href='#')  View all Notifications
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle.text-nowrap.px-3(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false')
                                img.user-avatar.rounded-circle.mr-2(src='images/avatars/0.jpg' alt='User Avatar')
                                span.d-none.d-md-inline-block Sierra Brooks
                            .dropdown-menu.dropdown-menu-small
                                //a.dropdown-item(href='user-profile-lite.html')
                                    i.material-icons &#xE7FD;
                                    |  Profile
                                //a.dropdown-item(href='components-blog-posts.html')
                                    i.material-icons vertical_split
                                    |  Blog Posts
                                //a.dropdown-item(href='add-new-post.html')
                                    i.material-icons note_add
                                    |  Add New Post
                                //.dropdown-divider
                                a.dropdown-item.text-danger(href='#')
                                    i.material-icons.text-danger &#xE879;
                                    |  Logout
                    nav.nav
                        a.nav-link.nav-link-icon.toggle-sidebar.d-md-inline.d-lg-none.text-center.border-left(href='#' data-toggle='collapse' data-target='.header-navbar' aria-expanded='false' aria-controls='header-navbar')
                            i.material-icons &#xE5D2;
            // / .main-navbar
            .main-content-container.container-fluid.px-4
                // Page Header
                .page-header.row.no-gutters.py-4.mb-3.border-bottom
                    .col-12.col-sm-4.text-center.text-sm-left.mb-0
                        h3.page-title Добавление заказ-наряда
                // End Page Header

                .row
                    .col-lg-12.mb-4
                        .card.card-small.mb-4
                            .card-header.border-bottom
                                h6.m-0 Основные поля

                            ul.list-group.list-group-flush
                                form(action="/addSL?OldID="+serviceList.dataValues.id, method="post" class="form" id='addSL' enctype="application/json")
                                    li.list-group-item.p-3
                                        .row
                                            .col-sm-12.col-md-4
                                                strong.text-muted.d-block.mb-2 Дата открытия
                                                    .form-group
                                                        //input.form-control(type='text' name="inputDataOpen")
                                                        if(serviceList.dataValues.OpenDate == null)
                                                            input.form-control(class="uk-input" name="inputDataOpen" type="text",  class="datepicker-here")
                                                        else
                                                            input.form-control(class="uk-input" name="inputDataOpen" type="text",  class="datepicker-here", value = formatDate(serviceList.dataValues.OpenDate))
                                            #nol.col-sm-12.col-md-4
                                            #dataCl.col-sm-12.col-md-4
                                                strong.text-muted.d-block.mb-2 Дата закрытия
                                                    .form-group
                                                        //input.form-control(type='text' name="inputDataClose")
                                                        if(serviceList.dataValues.CloseDate == null)
                                                            input.form-control(class="uk-input" name="inputDataClose" type="text",  class="datepicker-here")
                                                        else
                                                            input.form-control(class="uk-input" name="inputDataClose" type="text",  class="datepicker-here", value = formatDate(serviceList.dataValues.CloseDate))
                                            .col-sm-12.col-md-4
                                                strong.text-muted.d-block.mb-2 Статус

                                                    .form-group
                                                        //select.form-control(name="inputStatus")
                                                            option(selected='') Статус...
                                                            option ...
                                                        if(serviceList.dataValues.Status == null)
                                                            input#st.form-control(type='text' list='types' name="inputStatus")
                                                        else
                                                            input#st.form-control(type='text' list='types' name="inputStatus" value = serviceList.ServiceList_Status.dataValues.Name)
                                                        datalist#types
                                                            -for (let i = 0; i < SLStatus.length; i++)
                                                                option(value=SLStatus[i].dataValues.Name)
                                    li.list-group-item.p-3
                                        .row
                                            .col-sm-12.col
                                                strong.text-muted.d-block.mb-2 Клиент
                                                    .row
                                                        .col-sm-12.col-md-10
                                                            .form-group
                                                                //select.form-control(name="inputClient")
                                                                //    option(selected='') Клиент...
                                                                //    option ...
                                                                #clientText
                                                                if (serviceList.dataValues.ClientFK == null)&&(serviceList.dataValues.UrClientFK == null)
                                                                    input.form-control(class="uk-input" id='inputClient' name="inputClient" type="text"  placeholder="Введите номер ВУ")
                                                                else
                                                                    if (serviceList.dataValues.UrClientFK == null)
                                                                        input.form-control(class="uk-input" id='inputClient' name="inputClient" type="text"  placeholder="Введите номер ВУ" value = serviceList.Client.dataValues.DLNumber)
                                                                    else
                                                                        input.form-control(class="uk-input" id='inputUrClient' name="inputClient" type="text"  placeholder="Введите номер ВУ" value = serviceList.UrClient.dataValues.INN)

                                                        .col-sm-12.col-md-2
                                                            #checkCL.button.mb-2.btn.btn-sm.btn-primary.mr-1(type='button' onclick='checkClient()') Проверить
                                                            button.mb-2.btn.btn-sm.btn-primary.mr-1(type="submit", data-toggle='modal', data-target='#myModal') +
                                                            //a.nav-link(href='addClient')
                                                                button.mb-2.btn.btn-sm.btn-primary.mr-1(type='button') +
                                            .col-sm-12
                                                strong.text-muted.d-block.mb-2 Машина
                                                    .row
                                                        .col-sm-12.col-md-10
                                                            .form-group
                                                                //select.form-control(name="inputCar")
                                                                //    option(selected='') Машиана...
                                                                //    option ...
                                                                #carText
                                                                if (serviceList.dataValues.CarFK == null)
                                                                    input.form-control(class="uk-input" id='inputCar' name="inputCar" type="text" placeholder="Введите VIN номер" )
                                                                else
                                                                    input.form-control(class="uk-input" id='inputCar' name="inputCar" type="text" placeholder="Введите VIN номер" value = serviceList.Car.dataValues.VIN )
                                                        .col-sm-12.col-md-2
                                                            #checkCar.button.mb-2.btn.btn-sm.btn-primary.mr-1(type='button' onclick='checkCar()') Проверить
                                                            button.mb-2.btn.btn-sm.btn-primary.mr-1(type="submit", data-toggle='modal', data-target='#myModal2') +
                                                            //a.nav-link(href='addCar')
                                                                button.mb-2.btn.btn-sm.btn-primary.mr-1(type='button', data-toggle='modal', data-target='#myModal') +
                                    li.list-group-item.p-3
                                        .row
                                            .col-sm-12
                                                strong.text-muted.d-block.mb-2 Описание

                                                        .form-group
                                                            textarea.form-control(cols='103%' name="inputDescription"   ) #{serviceList.dataValues.Description}
                                            .col-sm-12
                                                strong.text-muted.d-block.mb-2 Заметки

                                                    .form-group

                                                        textarea#inputMarkup.form-control(cols='103%' name="inputMarkup") #{serviceList.dataValues.Markup}
                                    li.list-group-item.p-3
                                        .row
                                            .col-lg-12.mb-4
                                                .row
                                                    .col
                                                        .card.card-small.mb-4
                                                            .card-header.border-bottom
                                                                .row
                                                                    .col-sm-12.col-md-11
                                                                        h6.m-0 Услуги
                                                                    .col-sm-12.col-md-1
                                                                        button.mb-2.btn.btn-sm.btn-primary.mr-1(type="submit", data-toggle='modal', data-target='#myModal3') +
                                                            .card-body.p-0.pb-3.text-center
                                                                table#tab1.table.mb-0
                                                                    thead.bg-light.text-primary
                                                                        tr
                                                                            th.border-0(scope='col') #
                                                                            th.border-0(scope='col') Название
                                                                            th.border-0(scope='col') Количество
                                                                            th.border-0(scope='col') Стоимость
                                                                    tbody
                                                                        if(serviceList_Service !== undefined)
                                                                            -for (let i = 0; i < serviceList_Service.length; i++)
                                                                                +rowsTable(serviceList_Service[i].dataValues.id,
                                                                                serviceList_Service[i].Service.dataValues.Name,
                                                                                serviceList_Service[i].dataValues.NumOfService,
                                                                                serviceList_Service[i].Service.dataValues.Price* serviceList_Service[i].dataValues.NumOfService)
                                            #br.col-lg-12.mb-4
                                                .row
                                                    .col
                                                        .card.card-small.mb-4
                                                            .card-header.border-bottom
                                                                .row
                                                                    .col-sm-12.col-md-11
                                                                        h6.m-0 Поломки
                                                                    .col-sm-12.col-md-1
                                                                        button.mb-2.btn.btn-sm.btn-primary.mr-1(type="submit", data-toggle='modal', data-target='#myModal4') +
                                                            .card-body.p-0.pb-3.text-center
                                                                table#tab2.table.mb-0
                                                                    thead.bg-light.text-primary
                                                                        tr
                                                                            th.border-0(scope='col') #
                                                                            th.border-0(scope='col') Название
                                                                            th.border-0(scope='col') Количество
                                                                            th.border-0(scope='col') Стоимость
                                                                    tbody
                                                                        if (serviceListBreakdown !== undefined)
                                                                            -for (let i = 0; i < serviceListBreakdown.length; i++)
                                                                                +rowsTable(serviceListBreakdown[i].dataValues.id,
                                                                                serviceListBreakdown[i].Breakdown.dataValues.Name,
                                                                                serviceListBreakdown[i].dataValues.NumOfService,
                                                                                serviceListBreakdown[i].Breakdown.dataValues.Price * serviceListBreakdown[i].dataValues.NumOfService)

                                            #det.col-lg-12.mb-4
                                                .row
                                                    .col
                                                        .card.card-small.mb-4
                                                            .card-header.border-bottom
                                                                .row
                                                                    .col-sm-12.col-md-11
                                                                        h6.m-0 Запчасти
                                                                    .col-sm-12.col-md-1
                                                                        button.mb-2.btn.btn-sm.btn-primary.mr-1(type="submit", data-toggle='modal', data-target='#myModal5') +
                                                            .card-body.p-0.pb-3.text-center
                                                                table#tab3.table.mb-0
                                                                    thead.bg-light.text-primary
                                                                        tr
                                                                            th.border-0(scope='col') #
                                                                            th.border-0(scope='col') Название
                                                                            th.border-0(scope='col') количество
                                                                            th.border-0(scope='col') Стоимость
                                                                    tbody
                                                                        if (serviceList_Detail !== undefined)
                                                                            -for (let i = 0; i < serviceList_Detail.length; i++)
                                                                                +rowsTable(serviceList_Detail[i].dataValues.id,
                                                                                serviceList_Detail[i].Detail.dataValues.Name,
                                                                                serviceList_Detail[i].dataValues.Amount,
                                                                                serviceList_Detail[i].Detail.dataValues.Price * serviceList_Detail[i].dataValues.Amount)
                                            .col-lg-12.mb-4
                                                .row
                                                    .col
                                                        strong.text-muted.d-block.mb-2 Итоговая стоимость
                                                            .form-group
                                                                sum()
                                                                input#pr.form-control(type='text' name="Price" )
                                                                //button.btn.btn-primary.btn-lg.btn-block(type="button" onclick="sum()") sum
                                            .col-lg-12.mb-4
                                                .row
                                                    .col
                                                        button.btn.btn-primary.btn-lg.btn-block(type="submit" href="/addservicelist"  name="add") Добавить

                        // / Input & Button Groups
            footer.main-footer.d-flex.p-2.px-3.bg-white.border-top
                span.copyright.ml-auto.my-auto.mr-2
                    | Copyright &copy; 2019 ki1it&ma-daria

script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')
script(src='https://unpkg.com/shards-ui@latest/dist/js/shards.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js')
script(src='scripts/extras.1.1.0.min.js')
script(src='scripts/shards-dashboards.1.1.0.min.js')
script(src='scripts/app/app-components-overview.1.1.0.js')
script(src='scripts/showClient.js')
script(src='/dist/js/datepicker.min.js')
script(src='scripts/checkCl&Car.js')
script(src='scripts/SumPrice')
script(src='scripts/status.js')
- function formatDate(date) {var dd = date.getDate(); if (dd < 10) dd = '0' + dd; var mm = date.getMonth() + 1; if (mm < 10) mm = '0' + mm; var yyyy = date.getFullYear() ; return dd + '.' + mm + '.' + yyyy;}
