doctype html
html
    head
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        title
        meta(name='generator', content='LibreOffice 6.2.1.2 (Linux)')
        meta(name='author', content='nata')
        meta(name='created', content='2007-12-18T08:17:36')
        meta(name='changed', content='2019-04-05T10:27:28.941685700')
        style(type='text/css').
            body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Arial Cyr"; font-size:x-small }
            a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;  }
            a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  }
            comment { display:none;  }
    body
        table(cellspacing='0', border='0')
            colgroup(width='67', span='2')
            colgroup(width='70', span='2')
            colgroup(width='77')
            colgroup(width='82')
            colgroup(width='86')
            colgroup(width='83')
            colgroup(width='85')
            colgroup(width='80')
            tbody
                tr
                    td(style='border-bottom: 1px solid #3d3d3d', height='32', align='left')
                        font(size='5', face='Times New Roman') Заказ-наряд: ЗН-#{servicelist.dataValues.id}
                    td(style='border-bottom: 1px solid #3d3d3d', align='left')
                        font(size='5', face='Times New Roman')
                            br
                    td(style='border-bottom: 1px solid #3d3d3d', align='left')
                        font(size='5', face='Times New Roman')
                            br
                    td(style='border-bottom: 1px solid #3d3d3d', align='left')
                        font(size='5', face='Times New Roman')
                            br
                    td(style='border-bottom: 1px solid #3d3d3d', align='left')
                        font(size='5', face='Times New Roman')
                            br
                    td(style='border-bottom: 1px solid #3d3d3d', colspan='2', align='right')
                        font(size='3', face='Times New Roman')
                            br
                    td(colspan='3', align='right')
                        b
                            font(size='5', face='Times New Roman') АВТОСЕРВИС "Техно"
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', colspan='4', height='34', align='left') Заказчик:
                    td(style='border-top: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', align='left') Телефон
                    td(style='border-left: 1px solid #3d3d3d', colspan='3', rowspan='3', valign='middle', align='center')
                        br
                        img(src='images/avatars/zn.png', width='113', vspace='9', hspace='69', height='68')
                tr
                    td(style='border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', height='31', align='left')
                        b #{servicelist.Client.dataValues.FirstName+' '+servicelist.Client.dataValues.SecondName+' '+servicelist.Client.dataValues.Patronymic}
                    td(style='border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='left')
                        b #{servicelist.Client.dataValues.PhoneNumber}
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', colspan='4', height='20', align='left') Автомобиль
                    td(style='border-top: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', align='left') VIN
                tr
                    td(style='border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', height='17', align='left')
                        b #{servicelist.Car.SprCar.Brand.dataValues.Brand+' '+servicelist.Car.SprCar.Model.dataValues.Model}
                    td(style='border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='left')
                        b #{servicelist.Car.dataValues.VIN}
                    td(colspan='3', valign='middle', align='right') ООО "Техно"
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', colspan='4', height='17', align='left') Гос номер
                    td(style='border-top: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', align='left') Номер двигателя
                    td(style='border-left: 1px solid #3d3d3d', colspan='3', rowspan='2', align='right')
                        font(size='1') 630055, РОССИЯ, г. Родино, ул. Зеленая Горка, д. 1\14
                tr
                    td(style='border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', height='20', align='left')
                        b #{servicelist.Car.GosNumber}
                    td(style='border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='left')
                        b #{servicelist.Car.EngineNumber}
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', height='17', align='left') Год выпуска
                    td(style='border-top: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', align='left') Пробег
                    td(colspan='3', valign='middle', align='right')
                        font(size='1') тел: 383-213-5549
                tr
                    td(style='border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', height='20', align='left')
                        b #{servicelist.Car.Year}
                    td(style='border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='left')
                        b #{Math.floor(Math.random() * 1000000)}
                    td(valign='middle', align='right')
                        br
                    td(valign='middle', align='right')
                        br
                    td(valign='middle', align='right')
                        br
                tr
                    td(sdnum='1033;0;@', height='20', align='left')
                        b
                            br
                    td(sdnum='1033;0;@', align='left')
                        b
                            br
                    td(sdnum='1033;0;@', align='left')
                        b
                            br
                    td(sdnum='1033;0;@', align='left')
                        b
                            br
                    td(sdnum='1033;0;@', align='left')
                        b
                            br
                    td(sdnum='1033;0;@', align='left')
                        b
                            br
                    td(sdnum='1033;0;@', align='left')
                        b
                            br
                    td(valign='middle', align='right')
                        br
                    td(valign='middle', align='right')
                        br
                    td(valign='middle', align='right')
                        br
                tr
                    td(height='20', align='left')
                        br
                    td(align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        b
                            br
                    td(sdnum='1033;0;@', align='left')
                        b
                            br
                    td(sdnum='1033;0;@', align='left')
                        b
                            br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', rowspan='2', sdnum='1033;0;@', align='left')
                        b Дата
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', sdnum='1033;0;@', align='left')
                        b оформления
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdnum='1033;0;@', align='left')
                        b
                            br
                    if(servicelist.dataValues.OpenDate !== null)
                        td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', align='left') #{servicelist.dataValues.OpenDate.toLocaleDateString('en-GB')}
                    else
                        td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', align='left') #{servicelist.dataValues.OpenDate}
                tr
                    td(height='20', align='left')
                        br
                    td(align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        b
                            br
                    td(sdnum='1033;0;@', align='left')
                        b
                            br
                    td(sdnum='1033;0;@', align='left')
                        b
                            br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', sdnum='1033;0;@', align='left')
                        b исполнения
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdnum='1033;0;@', align='left')
                        b
                            br
                    if(servicelist.dataValues.CloseDate !== null)
                        td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', align='left') #{servicelist.dataValues.CloseDate.toLocaleDateString('en-GB')}
                    else
                        td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', align='left') #{servicelist.dataValues.CloseDate}



                tr
                    td(height='17', align='left')
                        b
                            font(face='Times New Roman') 1.ВЫПОЛНЕННЫЕ РАБОТЫ И УСЛУГИ
                    //td(align='left')
                    //    br
                    //td(sdnum='1033;0;@', align='left')
                    //    b
                    //        br
                    //td(sdnum='1033;0;@', align='left')
                    //    b
                    //        br
                    //td(sdnum='1033;0;@', align='left')
                    //    b
                    //        br
                    //td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', sdnum='1033;0;@', align='left')
                    //    b факт.исполнения
                    //td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdnum='1033;0;@', align='left')
                    //    b
                    //        br
                    //td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', align='left') 28.12.2011 20:00
                tr
                    td(height='20', align='left')
                        b
                            font(face='Times New Roman')
                                br
                    td(align='left')
                        b
                            font(face='Times New Roman')
                                br
                    td(align='left')
                        b
                            font(face='Times New Roman')
                                br
                    td(align='left')
                        b
                            font(face='Times New Roman')
                                br
                    td(align='left')
                        b
                            font(face='Times New Roman')
                                br
                    td(align='left')
                        b
                            font(face='Times New Roman')
                                br
                    td(align='left')
                        b
                            font(face='Times New Roman')
                                br
                    td(align='left')
                        b
                            font(face='Times New Roman')
                                br
                    td(align='left')
                        b
                            font(face='Times New Roman')
                                br
                    td(valign='middle', align='right')
                        br
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', valign='middle', height='20', align='center')
                        b Наименование работ, услуг
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', valign='middle', align='center')
                        b Кол-во
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', valign='middle', align='center')
                        b Цена
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', valign='middle', align='center')
                        b Сумма
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', valign='middle', align='left')
                        b Фамилия, И., О. Исполнителя
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d', valign='middle', align='left')
                        b
                            br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', valign='middle', align='left')
                        b
                            br
                -for (let i = 0; i < servicelist.ServiceList_Service; i++)
                    tr
                        td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', valign='middle', height='20', align='left') Замена жидкости в тормозной системе
                        td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='1', sdnum='1033;0;0', align='right') 1
                        td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='400', sdnum='1033;0;#,##0.00"р."', align='right') 400.00р.
                        td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='400', sdnum='1033;0;#,##0.00"р."', align='right') 400.00р.
                        td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='left') Механиков Иван Иванович
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', valign='middle', height='30', align='left') Промывка дроссельной заслонки
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='1', sdnum='1033;0;0', align='right') 1
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='350', sdnum='1033;0;#,##0.00"р."', align='right') 350.00р.
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='350', sdnum='1033;0;#,##0.00"р."', align='right') 350.00р.
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='left') Механиков Иван Иванович
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', valign='middle', height='17', align='left') Промывка клапана холостого хода
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='1', sdnum='1033;0;0', align='right') 1
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='200', sdnum='1033;0;#,##0.00"р."', align='right') 200.00р.
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='200', sdnum='1033;0;#,##0.00"р."', align='right') 200.00р.
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='left') Механиков Иван Иванович
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', valign='middle', height='17', align='left') Замена ремня генератора
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='1', sdnum='1033;0;0', align='right') 1
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='200', sdnum='1033;0;#,##0.00"р."', align='right') 200.00р.
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='200', sdnum='1033;0;#,##0.00"р."', align='right') 200.00р.
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='left') Механиков Иван Иванович
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', valign='middle', height='17', align='center')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdnum='1033;0;0.00', align='right')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d', sdnum='1033;0;#,##0.00"р."', align='right')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdnum='1033;0;#,##0.00"р."', align='right')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='center')
                        br
                tr
                    td(height='17', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(sdnum='1033;0;@', align='right')
                        b
                            br
                    td(align='right')
                        b Итого:
                    td(style='border-bottom: 2px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='1150', sdnum='1033;0;#,##0.00"р."', align='right')
                        b 1,150.00р.
                    td(sdnum='1033;0;@', align='right')
                        b
                            br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(height='2', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(height='20', align='left')
                        b 2. ЗАПАСНЫЕ ЧАСТИ И МАТЕРИАЛЫ, ОПЛАЧИВАЕМЫЕ ЗАКАЗЧИКОМ
                    td(align='left')
                        b
                            br
                    td(align='left')
                        b
                            br
                    td(align='left')
                        b
                            br
                    td(align='left')
                        b
                            br
                    td(align='left')
                        b
                            br
                    td(align='left')
                        b
                            br
                    td(align='left')
                        b
                            br
                    td(align='left')
                        b
                            br
                    td(align='left')
                        br
                tr
                    td(height='20', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='6', sdnum='1033;0;@', valign='middle', height='20', align='center')
                        b Материальные ценности
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', rowspan='2', sdnum='1033;0;@', valign='middle', align='center')
                        b Единица измерения
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', rowspan='2', sdnum='1033;0;@', valign='middle', align='center')
                        b Кол-во
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', rowspan='2', sdnum='1033;0;@', valign='middle', align='center')
                        b Цена
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', rowspan='2', sdnum='1033;0;@', valign='middle', align='center')
                        b Сумма
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', valign='middle', height='20', align='center')
                        b Наименование
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', valign='middle', align='center')
                        b ОЕМ
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', height='26', align='left') Тормозная жидкость
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', align='center') TCMB-03434
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdnum='1033;0;@', valign='middle', align='center') шт
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', sdval='1', sdnum='1033;0;0.00', align='center') 1.00
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='306', sdnum='1033;0;#,##0.00"р."', align='right') 306.00р.
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='306', sdnum='1033;', align='right') 306
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', height='20', align='left') Прокладка дросселя
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', align='center') 16176-P7A-004
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdnum='1033;0;@', valign='middle', align='center') шт
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', sdval='1', sdnum='1033;0;0.00', align='center') 1.00
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='160', sdnum='1033;0;#,##0.00"р."', align='right') 160.00р.
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='160', sdnum='1033;', align='right') 160
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', height='17', align='left') Очиститель аэрозольный
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', align='center') KAN 419
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdnum='1033;0;@', valign='middle', align='center') шт
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', sdval='1', sdnum='1033;0;0.00', align='center') 1.00
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='154', sdnum='1033;0;#,##0.00"р."', align='right') 154.00р.
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='154', sdnum='1033;', align='right') 154
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', height='17', align='center')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', align='center')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d', sdnum='1033;0;@', valign='middle', align='center')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdnum='1033;0;0.00', align='center')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d', sdnum='1033;0;@', align='right')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdnum='1033;0;@', align='right')
                        br
                tr
                    td(height='17', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='right')
                        b
                            br
                    td(align='center')
                        b
                            br
                    td(align='right')
                        b Итого:
                    td(style='border-bottom: 2px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='620', sdnum='1033;0;#,##0.00"р."', align='right')
                        b 620.00р.
                tr
                    td(height='2', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(colspan='9', sdnum='1033;0;@', valign='middle', height='20', align='left')
                        b  3. ОТМЕТКА О ПРИНЯТЫХ ОТ ЗАКАЗЧИКА ЗАПАСНЫХ ЧАСТЯХ И МАТЕРИАЛАХ
                    td(align='left')
                        br
                tr
                    td(height='20', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', valign='middle', height='20', align='center')
                        b Наименование
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', valign='middle', align='center')
                        b Кол-во
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', valign='middle', align='center')
                        b Комментарий
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', valign='middle', align='center')
                        b Принял в производство
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', height='20', align='left') Ремень генератора
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='1', sdnum='1033;0;0.00', align='right') 1.00
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', align='center')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='left') Механиков Иван Иванович
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', height='32', align='center')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdnum='1033;0;0.00', align='right')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='2', sdnum='1033;0;@', align='center')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', valign='middle', align='center')
                        br
                tr
                    td(height='17', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='right')
                        b Итого:
                    td(style='border-bottom: 2px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', sdval='1', sdnum='1033;0;#,##0.00', align='right')
                        b 1.00
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(height='2', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(height='20', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(colspan='10', sdnum='1033;0;@', height='20', align='left')
                        br
                tr
                    td(sdnum='1033;0;@', height='20', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                tr
                    td(colspan='5', sdnum='1033;0;@', height='19', align='left') С объемом работ и первоначальной стоимостью заказа
                    td(style='border-bottom: 1px solid #3d3d3d', colspan='2', sdval='1770', sdnum='1033;0;#,##0.00', align='right') 1,770.00
                    td(sdnum='1033;0;@', align='left') руб.
                    td(style='border-bottom: 1px solid #3d3d3d', sdnum='1033;0;@', align='right')
                        br
                    td(sdnum='1033;0;@', align='left') коп.
                tr
                    td(colspan='7', height='19', align='left') согласен, с Правилами пользования услугами предприятия ознакомлен.
                    td(style='border-bottom: 1px solid #3d3d3d', colspan='3', align='left')
                        br
                tr
                    td(sdnum='1033;0;@', height='19', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='center')
                        font(size='1') (подпись)
                tr
                    td(colspan='2', sdnum='1033;0;@', height='19', align='left') Заказ принял
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(style='border-bottom: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='left')
                        br
                    td(sdnum='1033;0;@', align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d; border-left: 1px solid #3d3d3d; border-right: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='left') Механиков Иван Иванович
                tr
                    td(style='border-bottom: 1px solid #3d3d3d', height='19', align='left')
                        br
                    td(style='border-bottom: 1px solid #3d3d3d', align='left')
                        br
                    td(style='border-bottom: 1px solid #3d3d3d', align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='center')
                        font(size='1') (подпись)
                    td(style='border-bottom: 1px solid #3d3d3d', align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d', colspan='3', align='center')
                        font(size='1') (Ф.И.О., должность)
                tr
                    td(height='19', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(colspan='10', sdnum='1033;0;@', height='17', align='left') Получено при оформлении заказа
                tr
                    td(style='border-bottom: 1px solid #3d3d3d', colspan='10', height='20', align='left')
                        br
                tr
                    td(height='19', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='center')
                        font(size='1') (сумма прописью)
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(style='border-bottom: 1px solid #3d3d3d', colspan='6', sdnum='1033;0;@', height='20', align='left')
                        br
                    td(sdnum='1033;0;@', align='center')
                        br
                    td(style='border-bottom: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='center')
                        br
                tr
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d', colspan='6', height='17', align='center')
                        font(size='1') (подпись кассира, штамп)
                    td(align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d; border-bottom: 1px solid #3d3d3d', colspan='3', align='center')
                        font(size='1') (Ф.И.О., должность)
                tr
                    td(style='border-top: 1px solid #3d3d3d', height='20', align='left') Получено в окончательный расчет
                    td(style='border-top: 1px solid #3d3d3d', align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d', align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d', align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d', align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d', align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d', align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d', align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d', align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d', align='left')
                        br
                tr
                    td(style='border-bottom: 1px solid #3d3d3d', colspan='10', height='17', align='left')
                        br
                tr
                    td(height='25', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='center')
                        font(size='1') (сумма прописью)
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(style='border-bottom: 1px solid #3d3d3d', colspan='6', sdnum='1033;0;@', height='20', align='left')
                        br
                    td(sdnum='1033;0;@', align='center')
                        br
                    td(style='border-bottom: 1px solid #3d3d3d', colspan='3', sdnum='1033;0;@', align='center')
                        br
                tr
                    td(style='border-top: 1px solid #3d3d3d', colspan='6', height='17', align='center')
                        font(size='1') (подпись кассира, штамп)
                    td(align='left')
                        br
                    td(style='border-top: 1px solid #3d3d3d', colspan='3', align='center')
                        font(size='1') (Ф.И.О., должность)
                tr
                    td(height='20', align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='left')
                        br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                tr
                    td(colspan='10', valign='top', height='117', bgcolor='#C0C0C0', align='left')
                        b
                            | Гарантийные обязательства при соблюдении правил эксплуатации и рекомендаций ООО "Техно":
                            br
                            | а) на агрегаты, подвергавшиеся разборке, сборке и замене деталей - 6 месяцев, но не более 10 тысяч км пробега;
                            br
                            | б) на агрегаты, механизмы, узлы, детали, системы подвергавшиеся регулировке и техническому обслуживанию - 1 месяц, но не более 1000 км пробега;
                            br
                            | в) на детали, агрегаты, механизмы предоставленные заказчиком, либо бывшие в употреблении, а также на расходные материалы гарантийные обязательства не распространяются.
                tr
                    td(height='20', align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='left')
                        br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                tr
                    td(height='22', align='left')
                        | С объемом и стоимостью выполненных работ согласен, комплектность и внешний вид автомобиля проверил,
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='left')
                        br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                    td(align='center')
                        font(size='1')
                            br
                tr
                    td(height='13', align='left') автомобиль из ремонта получил.
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(height='20', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                tr
                    td(height='20', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(style='border-bottom: 1px solid #3d3d3d', colspan='4', sdnum='1033;0;@', align='center')
                        font(size='1')
                            br
                tr
                    td(height='20', align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(align='left')
                        br
                    td(colspan='3', align='center')
                        font(size='1') (подпись заказчика)
                    td(align='left')
                        br
        // **************************************************************************
